ion-icon {
  background-color: black;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.attribute {
  margin-right: 5px;
}

.stat {
  width: 100%
}

.buffer-reality-increase,
.buffer-logic-increase,
.buffer-health-increase,
.buffer-belief-increase {
  --background: rgba(0, 200, 0, 0.6) !important;
  //background: rgba(0, 200, 0, 0.6) !important;
}

.buffer-reality-decrease,
.buffer-logic-decrease,
.buffer-health-decrease,
.buffer-belief-decrease {
  --background: rgba(200, 0, 0, 0.6) !important;
  //background: rgba(200, 0, 0, 0.6) !important;
}

ion-progress-bar::part(stream) {
  display: none !important;
}

.vertical-progress {
  transform: rotate(-90deg);
  width: 40px;
  height: 10px;
  background: #ccc;
  border: 2px solid #000;
  border-radius: 10px;
}

.vertical-progress::part(progress) {
  background: white;
}

.box {
  width: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  margin-top: 30px;
}

.box-attribute {
  display: flex;
  align-items: center;
}