<div class="box">
  <div class="box-attribute">
    <h3>❤️</h3>
    <ion-progress-bar [buffer]="gameService.stats.bufferHealth" [value]="gameService.stats.health" class="vertical-progress"
      [ngClass]="gameService.stats.actionHealth === 'increase' ? 'buffer-health-increase' : (gameService.stats.actionHealth === 'decrease' ? 'buffer-health-decrease' : '')">
    </ion-progress-bar>
    <ion-icon name="radio-button-off" [style.opacity]="highlightedStats['health'] || 0"></ion-icon>
  </div>

  <div class="box-attribute">
    <h3>🧠</h3>
    <ion-progress-bar [buffer]="gameService.stats.bufferLogic" [value]="gameService.stats.logic" class="vertical-progress"
      [ngClass]="gameService.stats.actionLogic === 'increase' ? 'buffer-logic-increase' : (gameService.stats.actionLogic === 'decrease' ? 'buffer-logic-decrease' : '')">
    </ion-progress-bar>
    <ion-icon name="radio-button-off" [style.opacity]="highlightedStats['logic'] || 0"></ion-icon>
  </div>

  <div class="box-attribute">
    <h3>🙏</h3>
    <ion-progress-bar [buffer]="gameService.stats.bufferBelief" [value]="gameService.stats.belief" class="vertical-progress"
      [ngClass]="gameService.stats.actionBelief === 'increase' ? 'buffer-belief-increase' : (gameService.stats.actionBelief === 'decrease' ? 'buffer-belief-decrease' : '')">
    </ion-progress-bar>
    <ion-icon name="radio-button-off" [style.opacity]="highlightedStats['belief'] || 0"></ion-icon>
  </div>

  <div class="box-attribute">
    <h3>🌌</h3>
    <ion-progress-bar [buffer]="gameService.stats.bufferReality" [value]="gameService.stats.reality" class="vertical-progress"
      [ngClass]="gameService.stats.actionReality === 'increase' ? 'buffer-reality-increase' : (gameService.stats.actionReality === 'decrease' ? 'buffer-reality-decrease' : '')">
    </ion-progress-bar>
    <ion-icon name="radio-button-off" [style.opacity]="highlightedStats['reality'] || 0"></ion-icon>
  </div>
</div>

<!-- <div class="stats-bar ion-display-flex ion-justify-content-between">
  <div class="stat ion-display-flex ion-justify-content-center ion-align-items-center"
    [ngClass]="{'increase': lastChange.health > 0, 'decrease': lastChange.health < 0}">
    <div class="attribute">
      ❤️ {{ stats.health | async }}

    </div>
    <div class="bar">
      <div class="bar-effect health" #healthBar [ngClass]="effects.health" [style.height.%]="health">
      </div>
      <div class="bar-fill" [style.height.%]="health"></div>
      <ion-icon name="radio-button-off" [style.opacity]="highlightedStats['health'] || 0"></ion-icon>

    </div>
    <div class="stat ion-display-flex ion-justify-content-center ion-align-items-center"
      [ngClass]="{'increase': lastChange.logic > 0, 'decrease': lastChange.logic < 0}">
      <div class="attribute">
        🧠 {{ stats.logic | async }}
      </div>
      <ion-icon name="radio-button-off" [style.opacity]="highlightedStats['logic'] || 0"></ion-icon>
    </div>
    <div class="stat ion-display-flex ion-justify-content-center ion-align-items-center"
      [ngClass]="{'increase': lastChange.belief > 0, 'decrease': lastChange.belief < 0}">
      <div class="attribute">
        🙏 {{ stats.belief | async }}
      </div>
      <ion-icon name="radio-button-off" [style.opacity]="highlightedStats['belief'] || 0"></ion-icon>
    </div>
    <div class="stat ion-display-flex ion-justify-content-center ion-align-items-center"
      [ngClass]="{'increase': lastChange.reality > 0, 'decrease': lastChange.reality < 0}">
      <div class="attribute">
        🌌 {{ stats.reality | async }}
      </div>
      <ion-icon name="radio-button-off" [style.opacity]="highlightedStats['reality'] || 0"></ion-icon>
    </div>
  </div> -->