<ion-header>
  <ion-toolbar>
    <ion-title>Card Swipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Stats Bar -->
  <div class="stats-bar d-flex justify-content-center align-items-center">
    <div class="stat" [ngClass]="{'increase': lastChange.health > 0, 'decrease': lastChange.health < 0}">
      ❤️: {{ gameService.stats.health }}
    </div>
    <div class="stat" [ngClass]="{'increase': lastChange.logic > 0, 'decrease': lastChange.logic < 0}">
      🧠: {{ gameService.stats.logic }}
    </div>
    <div class="stat" [ngClass]="{'increase': lastChange.belief > 0, 'decrease': lastChange.belief < 0}">
      🙏: {{ gameService.stats.belief }}
    </div>
    <div class="stat" [ngClass]="{'increase': lastChange.reality > 0, 'decrease': lastChange.reality < 0}">
      🌌: {{ gameService.stats.reality }}
    </div>
  </div>

  <div class="card-stack">
    <app-card-swipe *ngFor="let c of cards; let i = index; trackBy: trackById" [card]="c" (swiped)="onCardSwiped($event, i)"></app-card-swipe>
  </div>
</ion-content>
